.center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* MAIN */
#main {
    background: url("./media/background1.jpg");
    background-size: cover;
    background-position: center;
    overflow-y: hidden;
    margin: 0;
}

#formGame{
 border: 2px solid white;
 padding: 35px;
 
}

#sectionGame{
    position: absolute;
    z-index: 3;
    display: none;
    width: 70vw;
    height: 80vh;
    backdrop-filter: blur(7px);

}

#question, #answers{
    height: 200px;
    width: 95%;
    background-color: white;
    margin-bottom: 25px;
}

#sectionChooselevel{
    position: absolute;
    z-index: 2;
    height: 60vh;
    width: 80vw;
    background-color: black; 
    transition: 1s; 
}

.displaySectionChooseLevelOff{
display: none;
}

.displaySectionChooseLevelOn{
    display: block;
    }

.btnChoose{
    height: 250px;
    width: 100%;
}

#btnEasy{
    background: url("./media/easyBtnImg.jpg");
    background-position: left;
    background-size: cover;
}

#btnMedium{
    background: url("./media/mediumBtnImg.jpg");
    background-position: left;
    background-size: cover;
}

#btnHard{
    background: url("./media/hardBtnImg.jpg");
    background-position: left;
    background-size: cover;
}

.btnAnswers{
    width: 75%;
}

/* buttons */
.bttn {
    display: inline-block;
    padding: 0.9rem 1.8rem;
    font-size: 16px;
    font-weight: 700;
    color: white;
    border: 2px solid darkred;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
   }
   
   .bttn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
   }
   
   .bttn:hover::before {
    transform: translateX(0);
   }

   .bttnNext {
    display: inline-block;
    padding: 0.9rem 1.8rem;
    font-size: 16px;
    font-weight: 700;
    color: white;
    border: 2px solid darkred;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
   }
   
   .bttnNext::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
   }
   
   .bttnNext:hover::before {
    transform: translateX(0);
   }