/* cdn font */
@import url('https://fonts.googleapis.com/css2?family=Grenze:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=UnifrakturCook:wght@700&display=swap');

/* root */
:root {
    /* font */
    --display: "UnifrakturCook", serif;
    --text: "Grenze", serif;
    /* color */
        --primary:
        --second:
        --third:
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--display);
}

p {
    font-family: var(--text);
}


.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* MAIN */
#main {
    height: 100vh;
    background: url("./media/backIndex.mp4");
    background-size: cover;
    background-position: center;
    overflow-y: hidden;
    margin: 0;
}

#sectionStartMenu {
    transition: 1s;
}

video {
    height: 100%;
    width: 100%;
    position: relative;
    object-fit: cover;
}

#TitleDisplayIndex {
    font-size: 9rem;
}

@media screen and (max-width:700px) {
    #TitleDisplayIndex {
        font-size: 4rem;
    }
}

#textDisplayIndex {
    font-size: 5rem;
}

@media screen and (max-width:700px) {
    #textDisplayIndex {
        font-size: 1.7rem;
    }
}



#formGame {
    padding: 35px;
    height: 90vh;
    animation: showgame;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

#sectionGame {
    position: absolute;
    z-index: 3;
    display: none;
    width: 70vw;
    height: 80vh;
    backdrop-filter: blur(10px);
    animation: showgame;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

#question,
#answers {
    height: 200px;
    width: 95%;
    border: 2px dashed yellow;
    backdrop-filter: blur(10px);
    margin-bottom: 25px;
    animation: showgame;
    animation-duration: 1s;
    animation-iteration-count: 1;
}


#esitGame{
    position: absolute;
    display: none;
    top: 50%;
}



#sectionChooselevel {
    position: absolute;
    z-index: 2;
    height: 60vh;
    width: 80vw;
    background-color: black;
    animation: show;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    transition: 1s;
}



.displaySectionChooseLevelOff {
    display: none;
}

.displaySectionChooseLevelOn {
    display: block;
}



/* buttons */

.btnChoose {
    height: 250px;
    width: 100%;
}

#btnEasy {
    background: url("./media/easyBtnImg.jpg");
    background-position: left;
    background-size: cover;
}

#btnMedium {
    background: url("./media/mediumBtnImg.jpg");
    background-position: left;
    background-size: cover;
}

#btnHard {
    background: url("./media/hardBtnImg.jpg");
    background-position: left;
    background-size: cover;
}



.bttn {
    display: inline-block;
    padding: 0.9rem 1.8rem;
    font-size: 16px;
    font-weight: 700;
    color: white;
    border: 2px solid darkred;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
}

.bttn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
}

.bttn:hover::before {
    transform: translateX(0);
}

.bttnExitGame {
    display: inline-block;
    padding: 0.9rem 1.8rem;
    font-size: 16px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
}

.bttnExitGame::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 0, 0);
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
}

.bttnReviewGame {
    display: inline-block;
    padding: 0.9rem 1.8rem;
    font-size: 16px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
}

.bttnReviewGame::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(246, 255, 0);
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
}



.bttnExitGame:hover::before {
    transform: translateX(0);
}

.bttnReviewGame:hover::before {
    transform: translateX(0);
}

.bttnNext {
    display: inline-block;
    padding: 0.9rem 1.8rem;
    font-size: 16px;
    font-weight: 700;
    color: white;
    border: 2px solid darkred;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
}

.bttnNext::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
}

.bttnNext:hover::before {
    transform: translateX(0);
}

.TextQuestionGame {
    font-size: 4rem;
    animation: showgame;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

.btnAnswer {
    height: 60px;
    width: 250px;
    border-radius: 25px;
    margin: 10px;
    background-color: black;
    color: white;
    animation: show;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}


/* ANIMATIONS */
@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes showgame {
    0% {
        transform: translatex(-100vw);
    }

    100% {
        transform: translate3d(100vw);

    }

}